{
  "env": {
    "node": true,
    "browser": true
  },
  "extends": ["@raidou/eslint-config-react"],
  "plugins": ["import"],
  "rules": {
    "@typescript-eslint/consistent-type-imports": "warn",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "ignorePackages"
      }
    ]
  }
}
