.fileInput {
  border: 2px dashed var(--main-border);
  border-radius: 6px;
  color: var(--main-fg);
  background-color: var(--main-bg-active);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}
