.hover {
  cursor: pointer;
  &:hover {
    background-color: var(--main-bg-hover);
    color: var(--main-fg-hover);
  }
}

.table {
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;
  :global {
    tr > th {
      padding: 4px 4px;
      border-bottom: 1px solid var(--main-border);
    }
    td {
      padding: 0px 4px;
      border-bottom: 1px solid var(--main-border);
    }
  }
}
