.hover {
  cursor: pointer;
  &:hover {
    background-color: var(--main-bg-hover);
    color: var(--main-fg-hover);
  }
}

.table {
  font-size: 14px;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  :global {
    img {
      height: 40px;
      display: block;
    }
    tr {
      height: 40px;
      border-bottom: 1px solid var(--main-border);
    }
    th {
      padding: 4px 4px;
      // dragger
      &:nth-child(1) {
        width: 30px;
      }
      // selector
      &:nth-child(2) {
        width: 30px;
      }
      // favorite
      &:nth-child(3) {
        width: 60px;
      }
      // progress
      &:nth-child(4) {
        width: 60px;
      }
      // cover
      &:nth-child(5) {
        width: 50px;
      }
      // name
      &:nth-child(6) {
        width: auto;
      }
      // actions
      &:nth-child(7) {
        width: 50px;
      }
    }
    td {
      padding: 0px 4px;
    }
    .cell-center {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
