@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

.contentWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  :global {
    .book-panel {
      width: 200px;
      height: 100%;
      display: flex;
      flex-direction: column;
      background-color: var(--main-bg);
      border-right: 1px dashed var(--main-fg);
      @include mobile {
        max-width: 300px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        border: 1px solid var(--main-fg);
      }

      h3 {
        padding: 0 8px;
        margin: 0;
        border-bottom: 1px solid var(--main-fg);
      }

      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        font-size: 16px;
        color: var(--main-fg);
      }

      li {
        border-bottom: 1px dashed var(--main-fg);
        &:last-child {
          border-bottom: none;
        }
        > .item {
          width: 100%;
          display: flex;
          > .text {
            flex: 1;
            display: flex;
            justify-content: center;
            &.clickable {
              cursor: pointer;
            }
            &:hover {
              background-color: var(--main-bg-hover);
              color: var(--main-fg-hover);
            }
          }
        }
        .btn {
          cursor: pointer;
          &:hover {
            background-color: var(--main-bg-hover);
            color: var(--main-fg-hover);
          }
        }
      }
    }

    .panel-content {
      overflow-y: auto;
      padding: 0 8px;
    }

    .book-bookmarks,
    .book-nav {
      li {
        > .item {
          position: relative;
          > .text {
            &.active {
              background-color: var(--main-bg-active);
              color: var(--main-fg-active);
            }
          }
          > .selected {
            position: absolute;
            top: 0;
            left: -18px;
          }
        }
      }
    }

    .book-nav {
      ul > li > ul {
        border-left: 1px dashed var(--main-fg);
        margin-left: 10px;
        padding-left: 10px;
        font-size: 12px;
      }
    }

    iframe {
      flex: 1;
      height: 100%;
      border: none;
    }
  }
}
