@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

.contentWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  :global {
    .book-panel {
      width: 200px;
      height: 100%;
      display: flex;
      flex-direction: column;
      background-color: var(--main-bg);
      border-right: 1px dashed var(--main-fg);
      transition: width 0.2s;
      &.hidden {
        display: none;
      }
      @include mobile {
        display: flex;
        max-width: 300px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
        transition: transform 0.2s;
        &.hidden {
          display: flex;
          transform: translateX(-100%);
        }
      }

      h3 {
        padding: 0;
        margin: 0;
        border-bottom: 1px solid var(--main-fg);
      }

      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        font-size: 16px;
        color: var(--main-fg);
      }

      li {
        border-bottom: 1px dashed var(--main-fg);
        &:last-child {
          border-bottom: none;
        }
        .item {
          width: 100%;
          display: flex;
          > .text {
            flex: 1;
            padding: 2px;
            font-weight: bolder;
            &.clickable {
              cursor: pointer;
            }
            &:hover {
              background-color: var(--main-bg-hover);
              color: var(--main-fg-hover);
            }
            &.active {
              background-color: var(--main-bg-active);
              color: var(--main-fg-active);
            }
            border: 2px solid transparent;
            &.selected {
              border: 2px solid var(--main-bg-blue);
            }
            .note {
              font-size: 12px;
              font-weight: normal;
              font-style: italic;
            }
            .range .selected-text {
              font-size: 12px;
              background-color: var(--main-bg-blue);
              color: var(--main-fg-blue);
              margin-left: 6px;
              padding: 0 2px;
            }
            .range .note {
              margin-left: 8px;
            }
          }
        }
        .btn {
          cursor: pointer;
          &:hover {
            background-color: var(--main-bg-hover);
            color: var(--main-fg-hover);
          }
        }
      }
    }

    .book-panel-overlay {
      display: none;
      @include mobile {
        &.hidden {
          display: none;
        }
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: rgba(0, 0, 0, 0.5);
      }
    }

    .panel-content {
      overflow-y: auto;
      overflow-x: hidden;
    }

    .book-nav {
      ul > li > ul {
        border-left: 1px dashed var(--main-fg);
        margin-left: 10px;
        padding-left: 10px;
        font-size: 14px;
        > li > ul {
          font-size: 12px;
        }
      }
    }

    iframe {
      flex: 1;
      height: 100%;
      border: none;
    }
  }
}
