.hotkeyList {
  list-style: none;
  margin: 0;
  padding: 0;
  column-count: 2;
  :global {
    li {
      display: flex;
      margin-bottom: 2px;
      line-height: 20px;
    }
    .keys {
      margin-right: 4px;
      min-width: 100px;
      display: flex;
      justify-content: right;
      align-items: flex-start;
      align-content: center;
      gap: 4px;
    }
    kbd {
      border-radius: 4px;
      padding: 0px 4px;
      color: var(--main-fg-highlight);
      background: var(--main-bg-highlight);
      font-size: 12px;
      font-weight: bold;
      display: flex;
    }
    .desc {
      flex: 1;
    }
  }
}
